@font-face {
    font-family: "Montserrat";
    src: url("../fonts/montserrat/Montserrat-VariableFont_wght.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: "Montserrat";
}

.img_responsive{
    max-width: 60px;
}


.navbar.navbar-green{
    background-color: #1f9f4d !important;
}

.navbar-green .navbar-toggler {
    color: rgba(255,255,255,.5);
    border-color: rgb(255, 255, 255);
    border-width: 2px;
}

.navbar-green .navbar-toggler-icon {
    background-image: url("../resourses/icons/menu.png");
}

.navbar.navbar-green a{
    color: #ffff !important;
    font-size: 18px;
    font-weight: 600;
}

.nav-item.dropdown>.dropdown-menu{
    background-color: #1f9f4d;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: green!important;
}